@font-face { 
	font-family: 'RotondaC'; 
	src: url('./fonts/RotondaC-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/RotondaC-webfont.woff') format('woff'), url('./fonts/RotondaC-webfont.ttf') format('truetype'), url('./fonts/RotondaC-webfont.svg#RotondaC') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'RotondaC-bold'; 
	src: url('./fonts/RotondaC-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/RotondaC-Bold-webfont.woff') format('woff'), url('./fonts/RotondaC-Bold-webfont.ttf') format('truetype'), url('./fonts/RotondaC-Bold-webfont.svg#RotondaC') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
body {
	font-family: 'RotondaC';
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
div {
	display: block;
}
input {
	outline: none;
}
header {
	width: 980px;
	margin: 20px auto 0;
	display: block;
	overflow: hidden;
}
header a {
	float: left;
}
header a:last-child {
	padding-right: 0;
}
header img {
	margin: 10px 0 0 10px;
}
header .menu_item {
	color: #a10033;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-top: 17px;
	padding: 7px 29px;
	border-left: 1px solid #ccc;
}
header .select {
	font-family: 'RotondaC-bold';
}
header .top_menu {
	margin-left: 60px;
	float: left;
}
header .top_menu a:hover {
	text-decoration: underline;
}
.content {
	width: 980px;
	margin: 21px auto 0;
	overflow: hidden;
}
.content .top_block .mini_title {
	color: #333;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.content .top_block .title {
	color: black;
	font-size: 44px;
	font-weight: 400;
	line-height: 50px;
	width: 95%;
}
.content .left_block {
	float: left;
	width: 730px;
	margin-top: 18px;
}
.content .right_block {
	float: right;
	width: 230px;
	overflow: hidden;
	margin-top: 18px;
}
.content .left_block .title {
	color: #333;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	padding-right: 20px;
}
.content .left_block .img_content {
	margin-top: 23px;
}
.content .left_block .text {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-top: 25px;
	padding-right: 20px;
}
.content .left_block .text a {
	color: #a10033;
}
.content .left_block  .date {
	color: black;
	float: right;
	font-family: Arial;
	padding-right: 20px;
	font-size: 14px;
}
.content .left_block  .line {
	border-bottom: 1px solid #ccc;
	padding: 21px 0;
	margin-bottom: 18px;
}
.content .left_block .social {
	float: left;
}
.content .left_block .social a {
	float: left;
}
.content .left_block .social div {
	float: left;
	width: 44px;
	text-align: right;
	font-family: Arial;
	font-size: 11px;
	font-weight: 700;
	height: 22px;
	padding-top: 10px;
	margin-left: 15px;
	color: #999;
}
.content .left_block .social div:hover {
	color: #a10032;
}
.content .left_block .social .vk {	
	background: url(./img/vk.png) rgba(255, 255, 253, 0.1) no-repeat 0px center;
}
.content .left_block .social .vk:hover {	
	background: url(./img/vk_hover.png) rgba(255, 255, 253, 0.1) no-repeat 0px center;
}
.content .left_block .social .tw {
	background: url(./img/tw.png) rgba(255, 255, 253, 0.1) no-repeat 0px center;
}
.content .left_block .social .tw:hover {
	background: url(./img/tw_hover.png) rgba(255, 255, 253, 0.1) no-repeat 0px center;
}
.content .left_block .social .fb {
	background: url(./img/fb.png) rgba(255, 255, 253, 0.1) no-repeat 10px center;
}
.content .left_block .social .fb:hover {
	background: url(./img/fb_hover.png) rgba(255, 255, 253, 0.1) no-repeat 10px center;
}
.content .left_block .tags {
	float: right;
}
.content .left_block .tags .tags_text {
	  width: 280px;
	  float: right;
	  margin-left: 12px;
	  font-style: oblique;
	  color: #666;
	  font-size: 14px;
	  margin-right: 30px;
}
.content .left_block .tags img {
	float: left;
	margin-top: 2px;

}
.content .left_block .item {
	overflow: hidden;
	margin-bottom: 30px;
	width: 350px;
	float: left;
	text-align: l;
	min-height: 420px;
	margin-right: 15px;;
}
.content .left_block .item img {
	width: 320px;;
}
.content .left_block .item .title {
	color: black;
	font-size: 22px;
	font-family: 'RotondaC';
	padding: 0;
	width: 350px;
	/* margin-right: 0!important; */;
	line-height: 25px;
	font-weight: 400;
	margin: 20px 0 0 0;
}
.content .left_block .item .text {
	color: #333;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-top: 16px;
}
.content .left_block .item .data {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #333;
  	margin-right: 20px;
  	margin-top: 20px;
}
.content .left_block .item .data a {
	color: #ae2a53;
	float: none;
  	display: inline-block;
}
.content .left_block  .pagenat {
	width: 100%;
	/* height: 100%; */
	overflow: hidden;

}
.content .left_block  .pagenat div,.content .left_block  .pagenat a {
	float: left;
	display: block;
	color: #a10033;
	padding-top: 7px;
}
.content .left_block .pagenat .back {
	margin: 0 18px;
}
.content .left_block .pagenat .num {
	width: 30px;
	height: 23px;
	background-color: white;
	border: 1px solid #ccc;
	text-align: center;
	margin-left: 10px;
}
.content .left_block .pagenat .select {
	background-color: #999;
	border: 1px solid #ccc;
	color: #fff;
}
.content .left_block .pagenat .pic {
	margin-left: 10px;
}
.content .right_block .feedback {
	width: 230px;
	height: 245px;
	background-color: #e6e6e6;
}
.content .right_block .feedback2 {
	height: 325px;
}
.content .right_block .feedback .text {
	color: black;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	padding: 23px 20px 0;
}
.content .right_block .feedback .mail_title {
	color: #333;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin: 38px 20px 9px;
}
.content .right_block .feedback .mail_title2 {
	margin-top: 10px;
}
.content .right_block .feedback .mail_title3 {
	margin-top: 30px;
}
.content .right_block .feedback .btn_block {
	width: 100%;
	margin-left: 20px;
}
.content .right_block .feedback .mail_btn {;
	background-image: url(./img/mail_btn.png);
	width: 121px;
	height: 38px;
	border: none;
	text-shadow: 0 1px 1px #010101;
	color: white;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	outline: none;
	margin-top: 13px;
}
.content .right_block .feedback .inp {
	width: 180px;
	height: 30px;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	padding-left: 10px;
}
.content .right_block .read_t .title {
	color: black;
	font-size: 22px;
	font-weight: 400;
	margin-top: 26px;
}
.content .right_block .read_t a {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #333;
	margin-top: 15px;
	display: block;
}
.content .right_block .read_t a:first-child {
	margin-top: 21px;
}
.content .right_block .read_t a:hover {
	text-decoration: underline;
}
.content .right_block .read_t .next_all {
	color: #ae2a53;
}
.content .right_block .category .title {
	color: black;
	font-size: 22px;
	font-weight: 400;
	margin-top: 26px;
	margin-bottom: 16px;
}
.content .right_block .category a {
	color: #666;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	display: block;
	width: 100%;
	font-style: italic;
}
.content .right_block .category a:hover {
	text-decoration: underline;
}
.menu_bottom .bot_block .right_block a:hover {
	color: #CCC;
}
.menu_bottom {
	width: 100%;
	height: 430px;
	background-color: #363636;
	margin-top: 27px;
}
.menu_bottom .bot_block {
	margin: 0 auto;
	width: 980px;
}
.menu_bottom .bot_block .menu_items {
	width: 750px;
	height: 380px;
	font-family: Arial;
	display: table;
	line-height: 22px;
	padding-top: 10px;
	float: left;
}
.menu_bottom .bot_block .menu_items .row {
	width: 200px;
	float: left;
	margin-right: 50px;
}
.menu_bottom .bot_block .menu_items .title {
	color: white;
	font-size: 14px;
	font-weight: 700;
	width: 200px;
	margin-top: 20px;;;
}
.menu_bottom .bot_block .menu_items a {
	color: darkgrey;
	font-size: 12px;
	font-weight: 400;
	display: block;
	width: 201px;
	line-height: 14px;
  	margin-top: 9px;
}  
.menu_bottom .bot_block .menu_items a:hover {
	color: #CCC;
}
.menu_bottom .bot_block .right_block {
	float: right;
	width: 210px;
	margin-top: 27px;
}
.menu_bottom .bot_block .right_block .lang {
	width: 100%;
	overflow: hidden;
}
.menu_bottom .bot_block .right_block .lang img {
	float: left;

}
.menu_bottom .bot_block .right_block .lang select {
	float: left;
	border: none;
	background: url(./img/select.png) #363636 no-repeat right center;
	color: #fffffc;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	outline: none;
	margin-left: 10px;
	width: 80px;
	white-space: nowrap;
	-webkit-appearance: button;
}
.menu_bottom .bot_block .right_block .lang option {
	border:none;
	background: none;
	outline: none;
}
.menu_bottom .bot_block .cart {
	width: 100%;
	overflow: hidden;
	margin-top: 11px;

}
.menu_bottom .bot_block .cart .img_cart {
	float: left;
}
.menu_bottom .bot_block .cart .img_cart_cal {
	position: absolute;
	margin: -3px 0 0 -10px;
}
.menu_bottom .bot_block .cart .text_cal {
	color: black;
	font-family: Arial;
	font-size: 8px;
	font-weight: 400;
	line-height: 16px;
	position: absolute;
	margin: -4px 0 0 18px;
}
.menu_bottom .bot_block .cart .text {
	color: #fffffc;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	float: left;
	margin-left: 19px;
}
.menu_bottom .bot_block .lk {
	margin-left: 4px;
}
.menu_bottom .bot_block .lk .text {
	margin-left: 21px;
}
.menu_bottom .bot_block .search {
	width: 199px;
	height: 30px;
	background-color: ;
	border: 1px solid #797979;
	background: url(./img/search_inp.png) rgba(255, 255, 253, 0.1) no-repeat 180px center;
	margin-top: 46px;
	padding-left: 11px;
	color: #fff;
}
.menu_bottom .bot_block .other_cat {
	  margin-top: 50px;
}
.menu_bottom .bot_block .other_cat a {
	color: white;
	font-family: Arial;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	display: block;
	margin-bottom: 16px;
	letter-spacing: 0.3px;
}
footer {
	background-color: #272727;
	height: 40px;
	width: 100%;
}
footer .footer_block {
	margin: 0 auto;
	width: 980px;
}
footer .footer_block .copy {
	color: #999;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	float: left;
  	margin-top: 15px;
}
footer .footer_block .social {
	float: right;
	margin-top: 0px;

}
footer .footer_block .social img {
	vertical-align: middle;
	
}
footer .footer_block .social a {
	display: block;
	float: left;
	
}
.vk_icon, .fb_icon, .in_icon, .tw_icon, .g_icon, .pi_icon {
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  margin: 0px 10px 5px 0;
  background-image: url(./img/social_icons.png);
  background-repeat: no-repeat;
}
.g_icon {
  background-position: -310px bottom;
}
.fb_icon {
  background-position: -250px bottom;
}
.in_icon {
  background-position: -190px bottom;
}
.pi_icon {
  background-position: -130px bottom;
}
.tw_icon {
  background-position: -70px bottom;
}
.vk_icon {
  background-position: -10px bottom;
}
.vk_icon:hover {
  background-position: -10px top;
}
.tw_icon:hover {
  background-position: -70px top;
}
.pi_icon:hover {
  background-position: -130px top;
}
.in_icon:hover {
  background-position: -190px top;
}
.fb_icon:hover {
  background-position: -250px top;
}
.g_icon:hover {
  background-position: -310px top;
}