@font-face { 
	font-family: 'RotondaC'; 
	src: url('./fonts/RotondaC-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/RotondaC-webfont.woff') format('woff'), url('./fonts/RotondaC-webfont.ttf') format('truetype'), url('./fonts/RotondaC-webfont.svg#RotondaC') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'RotondaC-bold'; 
	src: url('./fonts/RotondaC-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/RotondaC-Bold-webfont.woff') format('woff'), url('./fonts/RotondaC-Bold-webfont.ttf') format('truetype'), url('./fonts/RotondaC-Bold-webfont.svg#RotondaC') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
body {
	font-family: 'RotondaC';
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
div {
	display: block;
}
header {
	width: 980px;
	margin: 20px auto 0;
	display: block;
	overflow: hidden;
}
header a {
	float: left;
}
header a:last-child {
	padding-right: 0;
}
header img {
	margin: 10px 0 0 10px;
}
header .menu_item {
	color: #a10033;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-top: 17px;
	padding: 7px 37px;
	border-left: 1px solid #ccc;
}
header .select {
	font-family: 'RotondaC-bold';
}
header .top_menu {
	margin-left: 60px;
	float: left;
}
.content {
	width: 980px;
	margin: 21px auto 0;
}
.content .mini_title {
	color: #333;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.content .title {
	color: black;
	font-size: 44px;
	font-weight: 400;
	line-height: 50px;
}